#wrapper{
  width: 100%;
  margin: 0px auto;
  padding: 20px;
}
.building_card{
  display: inline-block;
  width: 20%;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  text-align: center;
}

#activities{
  margin-top: 10px;
  width: 89%;
  border: 1px solid lightgrey;
  padding: 10px;
}
#activities p{
  margin: 0px 10px;
}
.green{
  color: green;
}
.red{
  color: red;
}
input{
  margin: 10px;
  width: 150px;
}
