table {
    border-collapse: collapse;
    margin: 20px 0px;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
.error{
  color: red;
}
label{
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  /*float: left;*/
  /*clear: left;*/
  width: 100px;
  text-align: right;
}
input, textarea {
  margin: 10px;
  display: inline-block;
  /*float: left;*/
}

.submit{
  margin: 10px 20px;
}

a.link_button{
  margin: 20px;
  padding: 5px 10px;
  background-color: grey;
  color: white;
  text-decoration: none;
}

a.red{
  background-color: maroon;
}
