<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Great Number Game</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/guess.css")}}>
  </head>
  <body>
    <div id = "wrapper">
      <h1>Welcome to the Great Number Game!</h1>
      <p>I am thinking of a number between 1 and 100</p>
      <p>Take a guess!</p>
      <div class="hint green">
        <p>{{number}} was the number!</p>
        <form action='/' method="post">
          <input id="play_again" type="submit" value="Play Again"></input>
        </form>
      </div>


    </div>
  </body>
</html>
