<!DOCTYPE html>
<html>
	<head>
		<title>Users Database</title>
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'user_db/css/user_db.css' %}">
	</head>
	<body>
    <div id = "wrapper">
      <h4>Add a new user</h4>
      <form action="/users/create" method="post">
      {% csrf_token %}
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name"><br>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name"><br>
        <label for="email">Email: </label>
        <input type="text" name="email"><br>
        <input class="submit" type="submit" value="Create"><br>
        <a href="/users">Go Back</a>
      </form>
    </div>
  </body>
</html>
