<!DOCTYPE html>
<html>
	<head>
		<title>Users Database</title>
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'user_db/css/user_db.css' %}">
	</head>
	<body>
    <table>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      {% for user in users_list %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email_address}}</td>
          <td>{{user.created_at}}</td>
          <td>
            <a href="/users/{{user.id}}">Show</a>
            <a href="/users/{{user.id}}/edit">Edit</a>
            <a href="/users/{{user.id}}/destroy">Delete</a>
          </td>
        </tr>
      {% endfor %}
      <tr>
      </tr>
    </table>
    <a href="/users/new">Add a new user</a>
  </body>
</html>
