<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ajax Notes</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'AjaxPost/css/ajax_post.css' %}">
  </head>
  <body>
    <div id="wrapper">
      <h2>My Posts</h2>
      <div id="notes">
        {% for note in notes %}
          <div class="note"><p>{{note.note}}</p></div>
        {% endfor %}
      </div>
      <form action="/add_note" method="POST" id="add_note_submit">
      {% csrf_token %}
      <div class="form-group">
        <label for="note">Add a note:</label>
        <textarea class="form-control col-3 col-form-label" rows="5" name="note"></textarea>
      </div>
      <input type="submit" value="Post It!">
      </form>
    </div>
    <script>
    $('#add_note_submit').submit(function(e){
        e.preventDefault()
        $.ajax({
              url: '/add_note', /* Where should this go? */
              method: 'post',
              data: $(this).serialize(),
              success: function(serverResponse) {  /* What code should we run when the server responds? */
                $('#notes').append('<div class="note">' + serverResponse + '</div>')
              }
          });
      });
    </script>
  </body>
</html>
