#wrapper{
  padding: 20px;
  width: 90%;
  margin: auto;
}
#filter, #user_list{
  width: 90%;
  margin: 20px;
}
table{
  width: 100%;
}
table, tr, td, th{
  padding: 10px;
}

input.pagination{
  margin: 10px;
  border: none;
  background: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

#pagination form{
  display: inline-block;
}
#pagination{
  float: right;
  /*clear: both;*/
}
