*{
  margin: 0px;
}
#form_wrapper{
  margin: 10px;
  width: 350px;
}
input{
  float: right;
  margin: 10px;
  display: inline-block;
}
div{
  clear: both;
}
form{
  margin: 0px;
  margin-top: 20px
}
#output_wrapper{
  width: 970px;
  margin: 10px;
  padding: 20px;
  /*background-color: grey;*/
  /*border: 1px solid black;*/
}
h3, h4{
  font-weight: normal;
}

p{
  margin: 10px 0px;
}

.message{
  margin: 30px 0px;
}
.comment{
  margin-top: 20px;
  padding-left: 10px;
}
input.submit_button{
  float: right;
  background-color: #4578B4;
  color: white;
  /*border: none;*/
  padding: 5px;
}
input.green_button{
    background-color: green;
}
#header{
  padding: 20px;
  border-bottom: 1px solid #333;
}
span.brand{
  font-weight: bold;
  font-size: 18px;
}
span#welcome{
  margin: 0px 20px;
}
.bold{
  font-weight: bold;
}
#header_rhs{
  display: inline;
  float: right;
}
